[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"                                            # the django web framework
psycopg = { version = "~=3.0", extras = ["binary"] }        # database driver for postgres
environs = {  extras = ["django"] }                         # configuration via env variables for django
simple-openid-connect = {extras = ["djangorestframework", "django"], version = "~=0.5.3" }  # authentication via mafiasi-identity
djangorestframework = "~=3.14.0"                            # django api builder
drf-spectacular = {  extras = ["sidecar"] }                 # openapi schema generator
django-cors-headers = "~=4.2.0"                             # CORS-header configuration for django
whitenoise = "~=6.5.0"                                      # django static-file serving

[dev-packages]
ipython = "*"       # better console for manage.py shell
black = "*"         # python code formatting
isort = "*"         # python import sorting

[requires]
python_version = "3"
